.App {
  text-align: center;
  background-color: #4ED4F9;
  height: 100vh;
}


.input-login input{
  height: 2.5rem;
  border-radius: 10px;
}

.nav{
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  font-size: 1.3em;
  height: 3rem;
}

.navLink{
  color: white;
}

.navLink:hover{
  color: white;
  background-color: rgb(124, 124, 124);
  border-radius: 1rem;
  padding: 2px 15px 2px 15px;
}