.App {
  text-align: center;
  background-color: #4ED4F9;
  height: 100vh;
 font-family: Arial, Helvetica, sans-serif;
}

.loginBtn{
  background-color: #f8931fe1;
  width: 50%;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  box-shadow: 3px 3px 7px grey;
}
.loginBtn:hover{
  background-color: #f8931f;
}

.input-login input{
  height: 2.5rem;
  border-radius: 10px;
  margin-top: 1.5rem;
  border: 0;
  padding: 1.3rem;
  box-shadow: 3px 3px 7px grey;
}

::placeholder{
  color: #f8931f;
}

.signup{
  
  height: 70%;
}

.nav{
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  font-size: 1.3em;
  height: 3rem;
}

.navLink{
  color: white;
  font-weight: 700;
}

.navLink:hover{
  color:#f8931f;
  font-weight: 700;
}

.nav-home{
  padding: 1rem;
  justify-content: flex-end;
  gap: 2rem;
  letter-spacing: 1px;
  background-color: #31849b;

}

.btnPerfTec{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color:#f8931f;
  border-radius: 50px;
 
  box-shadow:3px 3px 7px grey;
  width: 100px;
  height: 100px;
  
}


.btnPerfTec:hover{
  background-color: #f8931f;
}

.btnPerfTec p{
  font-size: 1.3rem;
 color: white;
 text-align: center;
 margin-top: 1rem;
 font-weight: 700;
 text-shadow:3px 3px 7px grey;
}

.boxPendi{
  padding: 1.3rem;
  text-align: initial;
  color: black;
}


.details{
  margin-top: 0.7rem;
  /* height: 100vh; */
}

.boxDetails{
  background-color: white;
  border-radius: 10px;
  box-shadow:3px 3px 7px grey ;
  /* text-align: start; */
  padding: 0.3rem;
}

.averias{
  width: 40%;
}
.averias p{
  font-weight: 600;
}

.solicitudes{
  width: 40%;
}
.solicitudes p{
  font-weight: 600;
}
.imgDetails{
  border-radius: 15px;
  margin-top: 1.3rem;
  height: 60px;
  box-shadow:3px 3px 7px grey ;
}

.imgCruz{
  border-radius: 15px;
  margin-top: 1.3rem;
  height: 60px;

}


.contenido-box{
  text-align: start;
  padding: 0.3rem;
  
} 

.Spinner{
  
  justify-content: center;
  margin: auto;
  color: #f8931f;

}


 @media (min-width: 820px) {

.home{
  align-items:stretch;
}
.container-home{
  margin: auto;
  width: 80vw;
}
.detailsRepuestoWeb{
  width: 80vw;
  margin: auto;
  height: 90vh;
}
.btnDetailsRepuestoWeb{
  gap: 1rem;
  width: 20vw;
}

.btnRepuestoWebAdm{
  width: 10vw;
  height: 5vh;
}

.btnDetailsRepuestoWebTec{
  justify-content: space-between;
  width: 100%;
}
.btnDetailsRepWebTec{
  width: 40%;
}

.detailsAveriaWeb{
  width: 80vw;
  margin: auto;
  height: 90vh;
}

} 

@media (min-width:391px) {
  .loginBtn{
    width: 20vw;
  }
}